body,html{
    margin: 0;
    font-family: "Roboto";
}

.header{
    margin-top: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.webtitle{
    color: white;
    font-size: 30px;
}

.signin{
    color: white;
    font-size: 27px;
    height: 100px;
    width: 144px;
    background-color: black;
    border: black;
}

.addBook{
    background-color: black;
    color: white;
    height: 40px;
    width: 40px;
}